body {
    font-family: var(--fonte-principal);
    color: #333;
    padding: 2.5rem 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 23px;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #ededed;
    transition: background-color 0.3s, border 0.3s;
}

.btn:hover {
    background-color: #6329a2;
    color: #fff;
    border-color: #6329a2;
}

.btn-outline {
    background-color: transparent;
}

.btn-filled {
    background-color: #fff;
    color: #6329a2;
}