footer {
    max-width: 100%;
    height: 100%;
    background-color: #333;
    color: #fff;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-newsletter {
    max-width: 400px;
}

.footer-menu {
    width: 100%;
    display: flex;
    gap: 2.125rem 1rem;
    flex-wrap: wrap;
}

.footer-menu h4 {
    font-size: 20px;
    color: #ababab;
    font-weight: 400;
}

.footer-menu ul {
    font-size: 20px;
}

.footer-column {
    width: 150px;
}

.footer-column h4,
.footer-column li {
    margin-bottom: 1.25rem;
}

.footer-column li:hover {
    text-decoration: underline;
}

#email-newsletter {
    margin-top: 10px;
    border-radius: 30px;
    color: #aaa;
    padding: 12px 20px;
    width: 344px;

}

.btn-news {
    height: 40px;
    line-height: 0;
    margin: 20px 0;
}

.social-links {
    display: flex;
    gap: 20px;
}

.footer-social h3 {
    margin: 10px 0;
}

.social-links img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px solid #ededed;
    border-radius: 50%;
}

.social-links img:hover {
    opacity: 0.7;
}

.footer-copyright {
    text-align: center;
    font-size: 1.25rem;
    padding: 10px 0;
    border-top: 1px solid #ededed;
}