.hero {
    background: url(../../images/banners/hero.png) no-repeat center;
    height: 500px;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    width: 94%;

}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8rem;
}
.hero-content {
    color: #ededed;
    max-width: 360px;
    text-align: center;
}

.hero-content h2,
.hero-content span {
    letter-spacing: 3px;
}

.hero-content h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.hero-content span {
    font-size: 1.87rem;
}

.hero-buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
}

