.categories {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card {
    width: 285px;
    height: 450px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.casual {
    background: url(../../images/products/casual.png) no-repeat center;
    background-size: cover;
}

.colorido {
    background: url(../../images/products/colorido.png) no-repeat center;
    background-size: cover;
}

.moderno {
    background: url(../../images/products/moderno.png) no-repeat center;
    background-size: cover;
}

.futurista {
    background: url(../../images/products/futurista.png) no-repeat center;
    background-size: cover;
}